mod10-IaC/Terraform/.terraform.lock.hcl
mod10-IaC/Terraform/terraform.tfstate
mod10-IaC/Terraform/.terraform/providers/registry.terraform.io/hashicorp/aws/5.38.0/windows_amd64/terraform-provider-aws_v5.38.0_x5.exe
mod10-IaC/Terraform/terraform.tfstate.backup
mod10-IaC/Terraform/Terra/.terraform/providers/registry.terraform.io/hashicorp/aws/5.39.0/windows_amd64/terraform-provider-aws_v5.39.0_x5.exe
mod10-IaC/Terraform/Terra/.terraform.lock.hcl
mod10-IaC/Terraform/Terra/terraform.tfstate
mod10-IaC/Terraform/Terra/terraform.tfstate.backup
